 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/bitters/app/assets/stylesheets/base';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  font-size: 62.5%;
}

.container {
  @include outer-container;
  max-width: 1024px;
  background-color: lightgrey;
  overflow: auto;
  padding: 10px;
  margin: 120px 120px;
}

.game-left {
  @include span-columns(5);
  background-color: grey;
  height: 442px;
  margin: 0;
  .goodguy {
    width: 100%;
    background-color: lightblue;
    margin: 0 auto;
    text-align: center;
  }
  img {
    width: 50%;
    height: 115px;
  }
}

.middle {
  @include span-columns(2.25);
  margin: 196px 1.29%;
  .pick-player {
    height: 50px;
    width: 100%;
  }
}

.game-right {
  @include span-columns(5);
  background-color: grey;
  height: 442px;
  margin: 0;
  .badguy {
    width: 100%;
    background-color: red;
    margin: 0 auto;
    text-align: center;
  }
  img {
    width: 50%;
    height: 115px;
  }
}
