 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/bitters/app/assets/stylesheets/base';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  font-size: 62.5%;
}

.container {
  @include outer-container;
  max-width: 1024px;
  height: 500px;
  background-color: lightgrey;
  margin: 0 auto;
  overflow: auto;
}

.game-left {
  @include span-columns(5);
  background-color: grey;
  height: 500px;
  .goodguy {
    width: 75%;
    height: 250px;
    background-color: lightblue;
    margin: 0 auto;
  }
}

.middle {
  @include span-columns(2);
  .pick {
    width: 50%;
    height: 50px;
    margin: 0 auto;
    background-color: yellow;
  }
}

.game-right {
  @include span-columns(5);
  background-color: grey;
  height: 500px;
  .badguy {
    width: 75%;
    height: 250px;
    background-color: red;
    margin: 0 auto;
  }
}
